In [4]:
#import panda
import pandas as pd
crick_data = pd.read_csv('../crick_data/Batting/t20.csv')
#get the details of the data
crick_data.info()
crick_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2006 non-null   int64
 1   Player       2006 non-null   object
 2   Span         2006 non-null   object
 3   Mat          2006 non-null   int64
 4   Inns         2006 non-null   object
 5   NO           2006 non-null   object
 6   Runs         2006 non-null   object
 7   HS           2006 non-null   object
 8   Ave          2006 non-null   object
 9   BF           2006 non-null   object
 10  SR           2006 non-null   object
 11  100          2006 non-null   object
 12  50           2006 non-null   object
 13  0            2006 non-null   object
 14  4s           2006 non-null   object
 15  6s           2006 non-null   object
 16  Unnamed: 15  0 non-null      float64
dtypes: float64(1), int64(2), object(14)
memory usage: 266.6+ KB

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Unnamed: 15
0,0,V Kohli (INDIA),2010-2019,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71,NaN
1,1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120,NaN
2,2,MJ Guptill (NZ),2009-2019,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113,NaN
3,3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61,NaN
4,4,BB McCullum (NZ),2005-2015,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91,NaN

In [12]:
#print the 5 batsman who doesn't have any 100s
crick_data[crick_data['100'] == '0'].head()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Unnamed: 15
0,0,V Kohli (INDIA),2010-2019,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71,NaN
3,3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61,NaN
6,6,EJG Morgan (ENG),2009-2019,86,84,17,2002,91,29.88,1475,135.72,0,11,3,151,96,NaN
8,8,JP Duminy (SA),2007-2019,81,75,25,1934,96*,38.68,1532,126.24,0,11,6,138,71,NaN
9,9,PR Stirling (IRE),2009-2019,72,71,6,1929,91,29.67,1401,137.68,0,16,8,233,59,NaN

In [24]:
#from player column split the player name and country
crick_data.describe()

        Unnamed: 0          Mat  Unnamed: 15
count  2006.000000  2006.000000          0.0
mean     24.434197    11.231805          NaN
std      14.463176    14.923332          NaN
min       0.000000     1.000000          NaN
25%      12.000000     3.000000          NaN
50%      24.000000     5.000000          NaN
75%      37.000000    13.000000          NaN
max      49.000000   111.000000          NaN